@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit browsers (Chrome, Safari) */
.main {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.main::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}  
  /* For Firefox */
  main {
    scrollbar-width: none;
  }
  
  /* For Internet Explorer / Edge */
  main {
    -ms-overflow-style: none;
  }
  .rgba{
    background-color: rgba(64, 124, 212, 0.5);
    /* position: absolute; */
    top: 0px;
  }